*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    max-width: 840px;
}

aside{
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img{
    width: 100px;
    height: auto;
}

main img{
    width: 150px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid #000;
}

/* Class Selectors */

.box{
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #282B31;
    color: #D9BB41;
}

main img{

    float: right;
}

aside{
    position: relative;
}

ul{
    clear: both;
}

aside h2{
    position: absolute;
    left: 120px;
}

